/Package.resolved
*.xcuserstate
fitness app/fitnessapp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
fitness app/fitnessapp.xcodeproj/project.xcworkspace/xcuserdata/harris.xcuserdatad/UserInterfaceState.xcuserstate
