<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We need access to update your health data to keep your records accurate</string>
	<key>NSHealthShareUsageDescription</key>
	<string>We need access to your health data to provide better insights</string>
</dict>
</plist>
